/* The navigation bar */
.navbar {
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}

body{

  bg-color: blue;
}

/* Main content */
.main {
  margin-bottom: 30px; /* Add a bottom margin to avoid content overlay */
}
header
{
  background-color: blue;
}
div
{
  display: flex;
  justify-content: space-around;
}
